.calculator {
    width: 300px;
    margin: 50 auto;
    padding: 20px;
    border: 30px solid #da18c9;
    height:25vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    

  }
  
  input[type="text"] {
    width: 95%; 
    margin-bottom: 10px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    display: flex; 
   

  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

  }
  

  button {
    padding: 10px;
    font-size: 18px;

  }